@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Rubik:wght@500&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  min-height: 100%;
}

body{
  
  font-size: 1.6rem;
  box-sizing: border-box;
  color: #48424F;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "OpenSans", sans-serif;
}

h1{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
}



p{
  font-family: 'Open Sans', sans-serif
}

p.semi-bold{
  font-weight: 600;
}

p.x-small{
  font-size: 1.6rem
}
.mt-xl{
  margin-top: 6rem;
}

.mt-l{
  margin-top: 4rem;
}
.mb-s{
  margin-bottom:1rem;
}
.mb-m{
  margin-bottom:2rem;
}

.mr-s{
  margin-right: 1rem;
}
.mr-m{
  margin-right:2rem;
}
.mr-l{
  margin-right:4rem;
}


.ml-m{
  margin-left:2rem;
}

.mb-l{
  margin-bottom:4rem;
}




.error{
  border: 3px solid #ff4e48f3 !important;
  padding-left: .3rem;
  border-radius: 4px;
  max-width: 80%;
}

@media screen and (max-width: 1200px){
  .error{
    max-width: 50%;
  }
}

@media screen and (max-width: 796px){
  .error{
    max-width: 100%;
  }
}

