.image{

    position: absolute;
    right: 10%;
    top: 0;
    transform: translateY(-5%);
    width: 800px;
    height: 660px;

}


 @media screen and (max-width: 978px){
     .image{
        display: none;
        
     }
 }

 @media screen and (max-width: 1250px){
     .image{
        width: 600px;
        height: 500px;
     }
 }

 @media screen and (max-width: 1450px){
    .image{
       right:0;
    }
}

.textContainer{
    margin: 0 0 4rem 0;
}