.wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    background-color: #0E1526;
    color: #fffffa;
    height: 70vh;
    min-height: 50rem;
    overflow: hidden;
    padding: 0 20rem;
}

.textContainer{
    width: 60%;
    margin-right: 3rem;
}

.headerImage{
    object-fit: contain;
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 68rem;
    height: 60rem;

    
}

@media screen and (max-width: 1200px) {
    .wrapper{
        padding: 0 15rem;
    }

    .headerImage{
        right: -10%
    }
}

@media screen and (max-width: 1024px) {
    .wrapper{
        padding: 0 5rem;
    }
    .headerImage{
        right: -15%
    }

}

@media screen and (max-width: 812px) {
    .wrapper{
        padding: 0 5rem;
    }
    .imgContainer{
        display: none;
    }
    .textContainer{
        width: 100%;
        margin-right: 0;
    }

}

@media screen and (max-width: 667px) {

    .textContainer{
        width: 100%;
    }

}