.subscribeFormWrapper{
    width: 85%;

   
}

@media screen and (max-width: 796px){
    .subscribeFormWrapper{
        width: 100%;
    
       
    }
}


.message{
    font-size: 3rem;
    font-weight: 700;
}



/* 
@media screen and (max-width: 1200px) {
    .wrapper{
        padding: 0 15rem;
    }

    .headerImage{
        right: -10%
    }
}

@media screen and (max-width: 1024px) {
    .wrapper{
        padding: 0 5rem;
    }
    .headerImage{
        right: -15%
    }

}

@media screen and (max-width: 812px) {
    .wrapper{
        padding: 0 5rem;
    }
    .imgContainer{
        display: none;
    }
    .textContainer{
        width: 100%;
        margin-right: 0;
    }

} */

@media screen and (max-width: 667px) {

    .emailInput { 
        width: 10%;
    }

}